{% extends 'class_selector/base.html' %}
{% load static %}

{% block title %} About {% endblock %}
{% block body_block %} 
    <h2> About </h2>
    
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non dui erat. Mauris quis sapien tincidunt ipsum elementum auctor. Nunc ut justo nunc. Integer iaculis tincidunt ultrices. Sed sit amet viverra nibh. In a suscipit tortor, at commodo tellus. Suspendisse felis ipsum, adipiscing non lorem eu, semper tempus dolor. Integer sapien leo, suscipit et pharetra vitae, euismod vitae massa. Aenean est nibh, imperdiet ut vestibulum eget, facilisis vitae lacus. In massa ante, dapibus sit amet nisi a, suscipit mollis nulla. Duis at sapien adipiscing, fringilla diam et, consequat orci. Suspendisse ornare sapien mauris, sit amet fermentum turpis convallis vel. In tincidunt gravida consectetur. </p>
    
    <p> Vestibulum lobortis sodales interdum. Sed justo felis, faucibus ut posuere ut, lobortis id diam. Nullam mi urna, ultricies in volutpat a, mattis non sapien. Aliquam vestibulum tortor ante, eget ultricies mauris lacinia sagittis. Donec aliquet tellus tortor, nec ullamcorper sem tincidunt non. Aenean blandit nunc ligula, commodo sagittis metus elementum sit amet. Maecenas rhoncus, nunc eget aliquet rhoncus, lectus nisi convallis leo, eu iaculis lacus elit a mi. Aenean eleifend, ipsum at venenatis venenatis, velit lectus aliquam leo, non ultricies magna dui et turpis. </p
    
    <p> Occasionally: Not in Fall 2014 or Spring 2015 schedule, so can't say when it will be offered next </p>

{% endblock %}